<div class='create'>
<%= form_for @task do |f| %>
	<%= f.label :Name %>
	<%= f.text_field :task %><br/>
	<%= f.label 'Date/Time' %>
	<%= f.datetime_picker :date_time, :dateFormat => "yy-mm-dd" %>


<% #f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>

	<%=	f.submit "Create Timer"%>
<% end %>
</div>
