<%= div_for task do %>
<div class="title" id="task_<%= task.id %>"><%= best_in_place task, :task %></div>
	<li id="task_<%= task.id %>">
		<div class="date" id="task_<%= task.id %>">
			<%=best_in_place task, :date_time, :display_with => lambda { |v| v.try(:strftime,"%B %d %a %l:%M:%S %p")},
			:data => {:task_date_time => task.date_time}%>

		</div>
		<script type="text/javascript">
		$(function () {
			var dateTime = new Date();
			dateTime = new Date('<%= task.date_time.strftime("%a %b %d %Y %H:%M:%S") %>');
			$('#defaultCountdown.<%= task.id %>').countdown({until: dateTime});
			countdownParse('<%= task.id %>','dateTime');
		});
		</script>
		<div id="defaultCountdown"  class="<%= task.id %>"></div>
		<div class='actions'>

		<%= link_to 'Delete', task, method: :delete, remote: true %>
		<!-- <a class='edit' id='<%= task.id %>' href="">Edit</a> -->
		</div>



	</li>
<% end %>
