<h1>Timers App</h1>
<%= form_for(Task.new, remote: true) do |f|%>
	<%= form_for @task do |f| %>
	<%= f.label :Name %>
	<%= f.text_field :task %><br/>
	<%= f.label :date_time, 'Date/Time' %>
	<%= f.datetime_picker :date_time, :dateFormat => "yy-mm-dd" %>


<% #f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
<div class="action">
	<%=	f.submit "Create Timer"%>
</div>
<% end %>
<% end %>


<div id="tasks">
	<%= render @tasks %>
</div>
</ul>



