<!DOCTYPE html>
<html>
<head>
 <title>Timer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<style type="text/css">

#defaultCountdown { width: 200px; height: 45px; }
</style>





</head>
<body>

<% flash.each do |name, message| %>
	<%= content_tag :div, message, id: "flash_#{name}" %>
<% end %>
<div class="container">
<%= yield %>
</div>

</body>
</html>
